@charset "utf-8";

/* 共通設定 */

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    background: #fff;
    font-family: 'Signika Negative', sans-serif;
    color: #707070;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #707070;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* トップへ戻るボタン */
.top__link {
    display: none;
}

.top__link.open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 500;
}


/* ナビ */

/*アクティブになったエリア*/
#g-nav.panelactive {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg {
    position: fixed;
    z-index: 3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #D8EAF9 44%, #F3DBE8 49%, #9490DB);

    /*丸のスタート位置と形状*/
    transform: scale(0);
    /*scaleをはじめは0に*/
    left: -50px;
    top: calc(50% - 50px);
    /*50%から円の半径を引いた値*/
    transition: all .6s;
    /*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive {
    transform: scale(50);
    /*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list {
    display: none;
    /*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list {
    display: block;
    /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
    opacity: 0;
    /*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity: 1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li {
    animation-name: gnaviAnime;
    animation-duration: 1s;
    animation-delay: .2s;
    /*0.2 秒遅らせて出現*/
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes gnaviAnime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*リストのレイアウト設定*/
#g-nav li {
    text-align: center;
    list-style: none;
}

#g-nav li a {
    color: #707070;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.menu-icon {
    width: 60px;
}

/* ハンバーガー */
.openbtn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
    /*ボタンを最前面に*/
    cursor: pointer;
    width: 50px;
    height: 50px;
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #707070;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}



.openbtn {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 70px;
    height: 100vh;
    border-right: 1px solid #333;
}

#container {
    padding: 0 70px 0 140px;
}




/* ファーストビュー */

.firstview {
    height: 100vh;
    background-image: url(../image/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title {
    color: #fff;
    font-size: 50px;

}

.fluid {
    position: absolute;
    z-index: -1;
    width: 50vh;
    /*横幅*/
    height: 60vh;
    /*縦幅*/
    background: linear-gradient(rgba(102, 0, 148, 0.39) 0%, rgba(255, 190, 210, 0.39) 100%);
    /*背景色*/
    animation: fluidrotate 30s ease 0s infinite;
    /*アニメーションの設定*/
}

@keyframes fluidrotate {

    0%,
    100% {
        border-radius: 73% 27% 64% 36% / 15% 45% 55% 85%;
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }

}



/*=== 9-1-2 丸が動いてスクロールを促す ====*/

/*スクロールダウン全体の場所*/
.scrolldown2 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    bottom: 30px;
    left: 50%;
}

/*Scrollテキストの描写*/
.scrolldown2 span {
    /*描画位置*/
    position: absolute;
    left: 10px;
    bottom: 10px;
    /*テキストの形状*/
    color: #eee;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
    /*縦書き設定*/
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: -4px;
    /*丸の形状*/
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #eee;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
    animation:
        circlemove 1.6s ease-in-out infinite,
        cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
    0% {
        bottom: 45px;
    }

    100% {
        bottom: -5px;
    }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
    }
}

/* 線の描写 */
.scrolldown2:after {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*線の形状*/
    width: 2px;
    height: 50px;
    background: #eee;
}


/* プロフィール */

.big-title {
    font-size: 120px;
    background: linear-gradient(#CAF7F6 0%, #97b8ff 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.small-title {
    font-size: 40px;
}

.title-left {
    margin-left: -15px;
}

.profile-flex {
    display: flex;
    line-height: 2;
}

.profile-img {
    margin-right: 5%;
    width: 200px;
    height: 200px;
}

.name {
    font-size: 26px;
}

.career-item {
    display: flex;
    border-bottom: 1px dotted #3a1e0c;
    line-height: 2;
}

.career-text {
    display: block;
    padding-left: 1.5em;
}

.career {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.career-img {
    width: 25vw;
    max-height: 250px;
}

/* スキル */
.design,
.coding,
.office {
    display: flex;
    margin-bottom: 30px;
}

.design figcaption {
    text-align: center;
}

.web {
    margin-bottom: 100px;
    text-indent: 30px;
    padding-bottom: 60px;
}

.career-item dt {
    text-indent: 30px;

}

.skill-title {
    font-weight: bold;
    font-size: 22px;
}

.svg-bg {
    background-image: url(../image/skill-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

}


/* 作品 */
.work-img {
    width: 300px;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-bottom: 100px;
    text-align: center;
}

.left {
    text-align: left;
}

.work-title {
    font-weight: bold;
}

.work-button {
    background: linear-gradient(#CAF7F6 0%, #97B8FF 100%);
    padding: 5px 20px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 5px 5px 6px #C5BEBE;
}

.work-button:hover {
    background: #fff;
    border: #97B8FF solid 2px;
    color: #707070;
    box-shadow: none;
}


.banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 100px;
}

.banner-img {
    width: 300px;
    height: auto;
}

.banner img {
    display: block;
}

.time {
    display: flex;
    padding: 10px;
}

.time img {
    max-width: 20px;
    height: 20px;
    margin-right: 5px;
}

.time p {
    margin: 0;
}

.banner {
    margin: 0 auto;
    max-width: 300px;
}

















/*==================================================
スライダーのためのcss
===================================*/
.slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 94%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.slider img {
    width: 100%;
    /*スライダー内の画像を横幅100%に*/
    height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 9px;
    /*ドットボタンのサイズ*/
    height: 9px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;
    /*ドットボタンの色*/
    padding: 0;
    border: none;
}

.slick-dots .slick-active button {
    background: #97B8FF;
    /*ドットボタンの現在地表示の色*/
}




/* お問い合わせ */

.contact-link {
    background: linear-gradient(#CAF7F6 0%, #97B8FF 100%);
    padding: 5px 20px;
    border-radius: 15px;
    color: #fff;
    box-shadow: 5px 5px 6px #C5BEBE;
    margin-left: 70px;
}


/* 波の動き */
.wave {
    position: relative;
    height: 200px;
    /*何も表示されない場合は各波の親要素に高さを持たせましょう。*/
}

#waveCanvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}



.copy {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
}




/* SP */
@media (max-width:428px) {

    html {
        font-size: 14px;
    }
    .openbtn {
        right: 0;
        width: 60px;
        height: 60px;
        border: none;
    }
    
    #container {
        padding: 0;
        width: 318px;
        margin: 0 auto;
    }

    /*Scrollテキストの描写*/
    .scrolldown2 span {
        color: #9490DB;
    }

    /* 丸の描写 */
    .scrolldown2:before {
        background: #9490DB;
    }

    /* 線の描写 */
    .scrolldown2:after {
        background: #97B8FF;
    }

    /* プロフィール */
    .profile-flex {
        display: block;
    }

    /* 経歴 */

    .career {
        display: block;
    }

    /* work */
    .work-grid {
        grid-template-columns: 1fr;
        gap: 20px 0;
    }


    .banner-grid {
        grid-template-columns: 1fr;
        gap: 20px 0;
    }

    .design,
    .coding,
    .office {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0px;
    }


    .web {
        font-size: 10px;
        text-indent: 0;
    }

    .work,
    .banner {
        margin-bottom: 30px;
    }

    .career-item {
        display: block;
        line-height: 1.5;
    }

    .career-item dt {
        text-indent: 0px;
        padding-bottom: 20px;
    }

    .career-item dd {
        margin-inline-start: unset;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .career-img {
        width: 100%;
        max-height: 250px;
    }

    .contact-link {
        margin-left: 30px;
    }
}
